/*

  BREAK POINT VARIABLES

  Here are stored the media query breakpoint sizes
  They should be set in em units

  These variables will also be used for some other
  responsive things like rucksacks responsive fonts

  Default "not small" size is 500px;
  Default "medium" size is 800px;
  Default "larg" size is 1000px;

*/
/*

  MEDIA QUERIES

  Defaults are borrowed from Tachyons CSS

  Set custom sizes in _breakpoint-sizes.less file

  Default media query sizes:
  not-small: 30em;
  medium: between 30 and 60em;
  large: Larger than 60em

*/
.footer {
  background-color: #262a3b;
  box-shadow: 0 -4px 4px rgba(18, 20, 28, 0.25);
  flex-shrink: 0;
  height: 200px;
}
.footer .footer-background-container {
  height: 200px;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  z-index: 0;
}
.footer .footer-background-container::before {
  background-image: url('../../assets/images/footer-image.jpg');
  background-size: cover;
  content: '';
  display: block;
  -webkit-filter: blur(2px);
          filter: blur(2px);
  height: 200px;
  left: 0;
  opacity: 0.5;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: -1;
}
.footer .footer-background-container .footer-container {
  background: linear-gradient(180deg, rgba(58, 64, 90, 0) 0%, rgba(58, 64, 90, 0.43) 18.23%, rgba(58, 64, 90, 0.759639) 47.4%, #3a405a 100%);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
}
.footer .footer-background-container .footer-container .footer-logo {
  display: none;
  -webkit-filter: drop-shadow(1px 5px 2px rgba(18, 20, 28, 0.863));
          filter: drop-shadow(1px 5px 2px rgba(18, 20, 28, 0.863));
  max-height: 150px;
}
@media screen and (min-width: 501px) {
  .footer .footer-background-container .footer-container .footer-logo {
    display: flex;
    margin: 0 calc(100vw * 0.01);
    max-width: 20%;
  }
}
@media screen and (min-width: 801px) {
  .footer .footer-background-container .footer-container .footer-logo {
    display: flex;
    margin: 0 calc(100vw * 0.03);
    width: 190px;
  }
}
@media screen and (min-width: 1001px) {
  .footer .footer-background-container .footer-container .footer-logo {
    margin: 0 calc(100vw * 0.07);
  }
}
.footer .footer-background-container .footer-container .footer-cards {
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
}
.footer .footer-background-container .footer-container .footer-cards .footer-card {
  align-items: center;
  background: rgba(137, 171, 228, 0.2);
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(18, 20, 28, 0.25);
  display: flex;
  flex: 1 1 170px;
  flex-direction: column;
  height: 150px;
  justify-content: space-around;
  margin: 0 5px;
  padding: 5px;
}
.footer .footer-background-container .footer-container .footer-cards .footer-card .footer-card-header {
  align-items: center;
  background-color: rgba(86, 154, 210, 0.3);
  border: 1px solid rgba(220, 230, 247, 0.3);
  border-radius: 5px 5px 0 0;
  color: rgba(220, 230, 247, 0.7);
  display: flex;
  flex: 1 1 auto;
  font-size: 16px;
  justify-content: center;
  max-height: 33%;
  text-align: center;
  text-shadow: 0 2px 2px #12141c;
  width: 100%;
}
.footer .footer-background-container .footer-container .footer-cards .footer-card .footer-card-content {
  align-items: center;
  background-color: rgba(40, 34, 49, 0.3);
  border-bottom: 1px solid rgba(220, 230, 247, 0.3);
  border-left: 1px solid rgba(220, 230, 247, 0.3);
  border-radius: 0 0 5px 5px;
  border-right: 1px solid rgba(220, 230, 247, 0.3);
  color: rgba(220, 230, 247, 0.7);
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  font-size: 14px;
  justify-content: center;
  margin: 0;
  padding: 0 10px;
  text-align: center;
  text-shadow: 0 2px 2px #12141c;
  width: 100%;
}
.footer .footer-background-container .footer-container .footer-cards .footer-card .footer-links {
  background-color: rgba(40, 34, 49, 0.3);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
.footer .footer-background-container .footer-container .footer-cards .footer-card .footer-links :hover {
  background-color: rgba(90, 77, 108, 0.3);
}
.footer .footer-background-container .footer-container .footer-cards .footer-card .footer-links > :first-child {
  border: 1px solid rgba(220, 230, 247, 0.3);
  border-radius: 5px 5px 0 0;
}
.footer .footer-background-container .footer-container .footer-cards .footer-card .footer-links > :nth-child(2) {
  border-left: 1px solid rgba(220, 230, 247, 0.3);
  border-right: 1px solid rgba(220, 230, 247, 0.3);
}
.footer .footer-background-container .footer-container .footer-cards .footer-card .footer-links > :last-child {
  border: 1px solid rgba(220, 230, 247, 0.3);
  border-radius: 0 0 5px 5px;
}
.footer .footer-background-container .footer-container .footer-cards .footer-card .footer-links li {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
}
.footer .footer-background-container .footer-container .footer-cards .footer-card .footer-links li a {
  align-items: center;
  color: rgba(220, 230, 247, 0.8);
  display: flex;
  height: 100%;
  justify-content: center;
  text-decoration: none;
  text-shadow: 0 2px 2px #12141c;
  width: 100%;
}
.footer .footer-background-container .footer-container .copyright {
  align-self: center;
  color: rgba(220, 230, 247, 0.7);
  font-size: 16px;
  text-shadow: 0 2px 2px #12141c;
}
