// Global CSS
@import '../Less/_globals.less';

body {
  background-color: darken(@dark-blue, 10%);
  font-family: Roboto, sans-serif;
}

.container {
  background-color: @secondary;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1080px;
  min-height: 100vh;
  position: relative;
}

.body {
  flex: 1 0 auto;
  min-height: 100%;
  padding: 0 10px;
}
