// Global CSS
@import '../includes/_globals.less';

body {
  background-color: @secondary;
  font-family: Roboto, sans-serif;
}

.banner {
  background: url(./images/top-banner.png);
  mix-blend-mode: luminosity;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-size: cover;

  .nav {
    display: flex;
    flex-direction: column;
    background:
      linear-gradient(
        180deg,
        rgba(58, 64, 90, 0.8) 0%,
        rgba(58, 64, 90, 0.4375) 59.9%,
        rgba(58, 64, 90, 0.210227) 90.62%,
        rgba(58, 64, 90, 0) 100%
      );

    .nav-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 23px;
      padding: 20px 0;
    }

    .logo {
      filter: drop-shadow(1px 5px 2px rgba(12, 13, 19, 0.863));
      width: 85px;
    }

    .hamburger {
      mix-blend-mode: normal;
      opacity: 0.7;
      filter: drop-shadow(0 2px 2px rgba(12, 13, 19, 0.863));
    }

    .nav-links {
      @keyframes scale-display {
        0% {
          opacity: 0;
          transform: scale(0);
          -webkit-transform: scale(0);
        }

        100% {
          opacity: 1;
          transform: scale(1);
          -webkit-transform: scale(1);
        }
      }

      @keyframes scale-display--reversed {
        0% {
          display: inline-flex;
          opacity: 1;
          transform: scale(1);
          -webkit-transform: scale(1);
        }
        99% {
          display: inline-flex;
          opacity: 0;
          transform: scale(0);
          -webkit-transform: scale(0);
        }
        100% {
          display: none;
          opacity: 0;
          transform: scale(0);
          -webkit-transform: scale(0);
        }
      }

      &.active {
        animation: scale-display 0.3s;
        display: inline-flex;
      }

      &.out {
        animation: scale-display--reversed 0.3s;
        animation-fill-mode: forwards;
        display: inline-flex;
      }

      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 100px;
      font-size: 24px;
      a {
        color: #dce6f7;
        text-decoration: none;
        text-shadow: 0 5px 2px #14161f;
      }
    }
  }
}
